@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Roupa:wght@300;400;600 & family= Poppins:ital,wght@0,100;0,600;1,100;1,300 & family= Roboto:wght@400;500 & family= Rubik:wght@300;400;500 & display=swap");
body {
  background-color: #0f1424; }

.conteiner {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.8rem; }

.menu__card {
  background: #1c1f4a;
  border-radius: 1.5rem; }
  .menu__card .card__Report {
    background: #5847eb;
    border-radius: 1.5rem;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem; }
    .menu__card .card__Report img {
      width: 26%;
      border: 3px solid #fff;
      border-radius: 50%; }
    .menu__card .card__Report .Report {
      display: flex;
      color: #fff;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; }
      .menu__card .card__Report .Report h2 {
        color: #bdc1ff;
        font-size: 1.1rem; }
      .menu__card .card__Report .Report p {
        font-size: 18px;
        font-weight: 500; }
  .menu__card .card__menu {
    display: flex;
    justify-content: space-around;
    color: #6f76c8;
    align-items: center;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer; }
    .menu__card .card__menu .menu__link:hover {
      color: #fff;
      transition: 0.5s; }

.Fundo__card {
  border-radius: 11px;
  background-repeat: no-repeat;
  background-position: 95% -1rem; }
  .Fundo__card .card__box {
    background: #1c1f4a;
    margin-top: 3rem;
    border-radius: 10px; }
    .Fundo__card .card__box:hover {
      background: #33477a;
      transition: 0.5s; }
    .Fundo__card .card__box .linha {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      position: relative; }
      .Fundo__card .card__box .linha .titulo {
        color: #fff;
        font-weight: bold; }
      .Fundo__card .card__box .linha .pontos {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
        .Fundo__card .card__box .linha .pontos:hover .ponto {
          background: #fff; }
        .Fundo__card .card__box .linha .pontos .ponto {
          width: 0.4rem;
          height: 0.4rem;
          background: #bdc1ff;
          border-radius: 50%;
          margin-right: 5px; }
    .Fundo__card .card__box .linha__2 {
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 10px; }
      .Fundo__card .card__box .linha__2 .data__Horas {
        font-size: 20px;
        font-weight: 400; }
      .Fundo__card .card__box .linha__2 .data__Descrição {
        color: #bdc1ff; }

.Work {
  background-color: #ff8c66;
  background-image: url("images/icon-work.svg"); }

.Play {
  background-color: #56c2e6;
  background-image: url("images/icon-play.svg"); }

.Study {
  background-color: #ff5c7c;
  background-image: url("images/icon-study.svg"); }

.Exercise {
  background-color: #4acf81;
  background-image: url("images/icon-exercise.svg"); }

.Social {
  background-color: #7536d3;
  background-image: url("images/icon-social.svg"); }

.Self_Care {
  background-color: #f1c65b;
  background-image: url("images/icon-self-care.svg"); }

@media (min-width: 570px) {
  .conteiner {
    display: grid;
    grid-template-columns: 48% 48%; }
    .conteiner .menu__card {
      grid-column: 1 / span 2; }
    .conteiner .Fundo__card .card__box {
      padding: 10px 0; }
      .conteiner .Fundo__card .card__box .linha__2 {
        justify-content: flex-start;
        flex-direction: column; }
        .conteiner .Fundo__card .card__box .linha__2 .data__Horas {
          font-size: 23px; } }
@media (min-width: 1140px) {
  body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh; }
    body .conteiner {
      width: 77%;
      grid-template-columns: 23% 23% 23% 23%; }
      body .conteiner .menu__card {
        grid-row: 1 / span 2;
        grid-column: unset; }
      body .conteiner .card__Report {
        flex-direction: column;
        align-items: flex-start;
        height: 70%;
        padding: 1rem; }
        body .conteiner .card__Report img {
          width: 50%; }
        body .conteiner .card__Report .Report .name {
          font-size: 30px; }
      body .conteiner .card__menu {
        flex-direction: column;
        justify-content: flex-start;
        align-items: unset;
        padding: 0 20px;
        line-height: 2.5rem; }
      body .conteiner .card__box .linha__2 {
        display: block; } }

/*# sourceMappingURL=style.css.map */
